.container__checkout {
}

.checkout {
}

.checkout_first {
}

.checkout_second {
    padding: 0.01%;
}

.checkout__heading {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 68px 0 0;
}

.checkout__blank {
}

.blank {
    width: 630px;
}

.blank-input {
    height: 44px;
    width: 190px;
    border: 1px solid #A4B0BE;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 14px;
}

.blank-input[type="text"] {
    font-family: "PF Din Text Comp Pro Regular";
    font-size: 16px;
    letter-spacing: 0.5px;
}

.blank__text {
    font-size: 18px;
    color: #5F5F5F;
    letter-spacing: 0.55px;
    margin: 24px 0 0;
}

.blank__auth {
    color: #1473E6;
}

.blank__receiver-text {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 55px 0 0;
}

.blank__receiver-name {
    margin: 27px 0 0;
    width: 300px;
}

.blank__receiver-phone {
    width: 300px;
    margin: 0 0 0 26px;
}

.blank__radio1 {
    width: 466px;
    margin: 70px 0 0;
}

.radio {
    font-size: 18px;
    letter-spacing: 0.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio__item {
    cursor: pointer;
    position: relative;
    min-width: 230px;
}

.radio__item:hover .radio__label::before {
    border: 3px solid #FB879F;
}

.radio__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.radio__label {
    margin: 0 0 0 40px;
    cursor: pointer;
}

.radio__label:hover {
    color: #FB879F;
}

.radio__label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid #A4B0BE;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.radio__label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #F81242;
    box-sizing: border-box;
    border-radius: 50%;
    background: url("../img/radio_and_checkbox/radio.svg") no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.radio__input:checked + .radio__label::after {
    opacity: 1;
}

.checkbox__item {
    position: relative;
    cursor: pointer;
}

.checkbox__item:hover .checkbox__label::before {
    border: 3px solid #FB879F;
}

.checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__label {
    margin: 0 0 0 40px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.checkbox__label:hover {
    color: #7f7f7f;
}

.checkbox__label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 3px solid #A4B0BE;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox__label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #F81242;
    box-sizing: border-box;
    border-radius: 5px;
    background: url("../img/radio_and_checkbox/check.svg") #F81242 no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.checkbox__input:checked + .checkbox__label::after {
    opacity: 1;
}

.blank__address {
    margin: 27px 0 0;
}

.address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.address__item {
    margin: 0 0 20px 0;
}

.blank__intercom-and-call {
    width: 380px;
    font-size: 18px;
    margin: 10px 0 0;
}

.blank__intercom {
    margin: 0 28px 0 0;
}

.blank__no-call {
    margin: 0 28px 0 0;
}

.blank__when {
    margin: 67px 0 0;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
}

.blank__radio2 {
    margin: 28px 0 0;
    width: 464px;
}

.blank__payment {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    margin: 68px 0 0;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.blank__radio3 {
    margin: 27px 0 0;
    height: 117px;
}

.blank__comment {
    display: block;
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 20px;
    color: #000;
    letter-spacing: 0.5px;
    margin: 52px 0 0;
}

.blank__comment-input {
    margin: 9px 0 0;
    height: 90px;
    width: 630px;
    box-sizing: border-box;
    border-radius: 7px;
    resize: none;
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 16px;
    padding: 13px 14px;
    letter-spacing: 0.5px;
    outline: none;
}

.blank__bonus {
    margin: 26px 0 0 0;
}

.checkout__order-icon {
    margin: 50px 0 30px 0;
}

.order-icon {
    width: 630px;
    background: #F3F4F6;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    padding: 0 31px;
    padding-top: 0.01%;
    height: 200px;
}

.order-icon__heading {
    margin: 29px 0 0;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.order-icon__back {
    position: absolute;
    top: 31px;
    right: 25px;
}

.order-icon__orders {
    margin: 27px 0 0;
    justify-content: space-between;
}

.order__description_icon {
    width: 315px;
}

.order__price_icon {
    margin: 0 0 0 80px;
}

.order_icon {
    justify-content: space-between;
    position: relative;
}

.orders__item:last-child {
    border-bottom: 1px solid #CED6E0;
}

.order__price-descr {
    font-size: 14px;
    color: #717171;
    position: absolute;
    bottom: 20px;
    right: 5px;
}

.order-icon__result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 190px;
    line-height: 32px;
    margin: 30px 0 0;
}

.result_div {
    width: 100%;
}

.order-icon__result-title {
}

.order-icon__result-value {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 20px;
}

.checkout__submit {
    margin: 50px 0 200px 0;
    width: 190px;
}


.blank__fillials {
    display: none;
    margin: 73px 0;
}

@media screen and (max-width: 1280px) {
    .checkout__order-icon {
    }
}

@media screen and (max-width: 960px) {
    .order-icon {
    }

    .order-icon__result {
        float: none;
        width: 100%;
    }

    .order__price-descr {
        left: 180px;
    }
}

@media screen and (max-width: 640px) {
    .checkout_first {
        width: 100%;
    }

    .checkout_second {
        width: 100%;
    }

    .blank {
        width: 100%;
    }

    .blank__receiver-name {
        display: inline-block;
        width: 100%;
    }

    .blank__receiver-phone {
        display: inline-block;
        margin: 20px 0 0;
        width: 100%;
    }

    .blank__comment-input {
        width: 335px;
    }

    .order-icon {
        width: 100%;
    }

    .radio {
        width: 335px;
    }

    .blank__radio3 {
        height: 100%;
    }

    .radio__item {
        min-width: 140px;
        line-height: 23px;
        margin: 0 0 20px 0;
    }

    .address__item {
        width: 163px;
    }

    .blank__intercom-and-call {
        width: 335px;
    }

    .blank__comment {
        margin: 49px 0 0;
    }

    .checkout__order-icon {
    }

    .checkout__submit {
        width: 249px;
        margin: 53px auto 100px auto;
        float: none;
    }

    .order__price-descr {
        left: 80px;
    }

    .checkout__order-icon {
    }
}
