@font-face {
    font-family: 'PF Din Text Comp Pro Bold';
    src: url("../font/pfdintextcomppro-bold.ttf");
}

@font-face {
    font-family: 'PF Din Text Comp Pro Regular';
    src: url("../font/pfdintextcomppro-regular.ttf");
}

@font-face {
    font-family: 'PF Din Text Comp Pro Medium';
    src: url("../font/PF Din Text Comp Pro Medium.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    color: #000;
    font-size:100%;
    vertical-align:baseline;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

/*.........................Main styles...........................................*/

/*..........Header...............*/

.container {
    margin: 0 0;
    min-height: 2000px;
}

.container__fixed {
    width: 1361px;
    margin: 0 auto;
}

.layout {
    display: flex;
    justify-content: space-between;
}

.header {
    background: #F3F4F6;
    padding: 38px 0;
}

.header__logo {}

.logo {
    width: 330px;
}

.logo__img {}

.logo__title {
    width: 220px;
    font-family: sans-serif;
    padding: 12px 0;
}

.logo__heading {
    /* font-family: "PF Din Text Comp Pro Bold"; */
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.logo__subheading {
    /* font-family: "PF Din Text Comp Pro Medium"; */
    font-size: 16px;
    letter-spacing: 0.5px;
}

.header__menu {}

.menu {
    width: 514px;
    height: 100%;
}

.menu__item {}

.menu__link {
    display: block;
    height: 100%;
    line-height: 81px;
    font-size: 16px;
    letter-spacing: 1.6px;
}

.header__contact {
    margin-left: 105px;
}

.contact {
    width: 411px;
}

.contact::before {
    display: block;
    content: "Ежедневно с 11:00 до 23:00";
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 16px 0 3px 185px;
    color: #5F5F5F;
}

.contact__item {
    font-size: 24px;
    margin-left: 3px;
    letter-spacing: 0.7px;
}

.navigation {
    height: 62px;
    border-bottom: #CED6E0 1px solid;
    background: #fff;
}

.container__sticky {
    position: sticky;
    top: 0;
}

.navigation__menu {
}

.link-search {}

.menu_nav {
    height: 62px;
    width: 100%;
}

.menu__link_nav {
    line-height: 62px;
    letter-spacing: 0.5px;
    /* font-family: "PF Din Text Comp Pro Medium"; */
    font-family: sans-serif;
}

.menu__link_search {
    width: 87px;
    line-height: 62px;
    font-size: 18px;
}

.menu__link_search::before {
    content: url("../img/header/loupe.svg");
    display: inline-block;
    margin-right: 10px;
}

.menu__item_nav {
    margin-left: 34px;
}

.menu__item_search {
    margin-left: 27px;
}

.menu__link_burgers {
    width: 158px;
}

.menu__item_nav:first-child {
    margin-left: 0;
}

.navigation__enter {
    margin-right: 53px;
}

.enter {
    width: 209px;
}

.login {
    /* font-family: "PF Din Text Comp Pro Medium"; */
    font-size: 18px;
    line-height: 61px;
    width: 81px;
}

.login::before {
    content: url("../img/header/login-man.svg");
    display: inline-block;
    margin-right: 11px;
}

.login__title {
    display: inline-flex;
}

.basket {
    width: 97px;
    padding: 21px 0;
}

.basket__img {}

.basket__img-wrap {
    position: relative;
}

.basket__img-wrap::before {
    content: "5";
    display: block;
    height: 18px;
    width: 18px;
    background: #F81242;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: -9px;
    right: -12px;
    z-index: 100;
}

.basket__amount {
    /* font-family: "PF Din Text Comp Pro Medium"; */
    font-size: 18px;
}
