@font-face {
    font-family: 'PF Din Text Comp Pro Bold';
    src: url("../font/pfdintextcomppro-bold.ttf");
}

@font-face {
    font-family: 'PF Din Text Comp Pro Regular';
    src: url("../font/pfdintextcomppro-regular.ttf");
}

@font-face {
    font-family: 'PF Din Text Comp Pro Medium';
    src: url("../font/pfdintextcomppro-medium.ttf");
}

@font-face {
    font-family: 'Century Gothic Bold';
    src: url("../font/centurygothicbold.ttf");
}

@font-face {
    font-family: 'SF UI Text Regular';
    src: url("../font/sfuitextregular.otf");
}

@font-face {
    font-family: 'SF UI Text Semibold';
    src: url("../font/sfuitextsemibold.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    color: #000;
    font-size:100%;
    vertical-align:baseline;
    list-style: none;
    text-decoration: none;
    font-family: "PF Din Text Comp Pro Regular";
}

/*.........................Main styles...........................................*/

/*......................................Header...............................*/

.container {
    margin: 0 0;
    position: relative;
}

.container__fixed {
    max-width: 1290px;
    margin: 0 auto;
}

.layout {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

.header {
    background: #F3F4F6;
    padding: 38px 0;
    height: 79px;
}

.header__close {
    display: none;
}

.header__logo {}

.header__menu-icon {
    display: none;
}

.logo {
    width: 264px;
}

.logo__img {}

.small-logo__img {
    display: none;
}

.logo__title {
    width: 220px;
    padding: 15px 0 0;
    margin-left: 30px;
}

.logo__heading {
    font-family: "PF Din Text Comp Pro Bold", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 38px;
}

.logo__subheading {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 12px;
}

.header__menu {}

.menu {
    width: 372px;
    height: 100%;
}

.menu__item {}

.menu__link {
    display: block;
    height: 100%;
    line-height: 84px;
    font-size: 16px;
    letter-spacing: 1.7px;
    font-family: PF Din Text Comp Pro Medium;
}

.header__contact {
    margin-left: 183px;
}

.contact {
    width: 341px;
}

.contact::before {
    display: block;
    content: "Ежедневно с 11:00 до 23:00";
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 16px 0 3px 185px;
    color: #5F5F5F;
}

.contact__item {
    font-size: 24px;
    margin-left: 22px;
    letter-spacing: 0.7px;
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
}

.contact__item_first {
    margin-left: 41px;
}

.header__search {
    display: none;
}

.navigation {
    height: 64px;
    border-bottom: #CED6E0 1px solid;
    background: #fff;
}

.container__sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navigation__menu {
}

.link-search {}

.menu_nav {
    height: 64px;
    width: 100%;
}

.menu__link_nav {
    line-height: 66px;
    letter-spacing: 0.5px;
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
}

.search {
    width: 87px;
    line-height: 67px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
}

.search::before {
    content: url("../img/header/loupe.svg");
    display: inline-block;
    margin-right: 10px;
}

.menu__item_nav {
    margin-left: 26px;
}

.menu__link_burgers {
    width: 104px;
}

.menu__item_nav:first-child {
    margin-left: 0;
}

.navigation__enter {
}

.enter {
    width: 300px;
}

.login {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 18px;
    line-height: 65px;
    width: 87px;
}

.login::before {
    content: url("../img/header/login-man.svg");
    display: inline-block;
    margin-right: 11px;
}

.login__title {
    display: inline-flex;
}

.basket {
    width: 81px;
    padding: 22px 0;
}

.basket__img {}

.basket__img-wrap {
    position: relative;
}

.basket__img-wrap::before {
    content: "5";
    display: block;
    height: 18px;
    width: 18px;
    background: #F81242;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: -7px;
    right: -14px;
    z-index: 100;
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    line-height: 20px;
}

.basket__amount {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 18px;
}

@media screen and (max-width: 1280px) {
    .header {
    }

    .container__fixed {
        padding: 0 27px;
    }

    .logo__title {
        margin-left: 18px;
        width: 188px;
        padding: 15px 0;
        margin-left: 20px;
    }

    .header__contact {
        margin-left: 0;
    }

    .contact::before {
        margin: 16px 0 3px 171px;
    }

    .contact__item_first {
        margin-left: 19px;
    }

    .menu__item_nav {
        margin-left: 19px;
    }

    .menu__link_dont-forget {
        width: 64px;
    }

    .enter {
        width: 240px;
    }
}

@media  screen and (max-width: 1023px) {
    .header {
    padding: 23px 0;
}

    .logo__img {
        display: none;
    }

    .logo__heading {
        display: flex;
        justify-content: space-between;
        line-height: 54px;
    }

    .small-logo__img {
        display: block;
        height: 100%;
    }

    .logo__subheading {
        display: none;
    }

    .header__menu .layout .header__small-logo {
        display: none;
    }

    .contact__item {
        display: inline-block;
        font-size: 20px;
    }

    .contact::before {
    margin: 0 0 0 0;
    width: 156px;
}
}

@media screen and (max-width: 959px) {
    .container__fixed {
        padding: 0;
        height: 100%;
    }

    .header {
        padding: 11px 20px;
        height: 70px;
        box-sizing: border-box;
        border-bottom: #CED6E0 1px solid;
    }

    .navigation__menu {
        display: none;
    }

    .header__menu {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
    }

    .hiding-menu {
        width: 340px;
        min-height: 585px;
        background: #fff;
        /* border: #000 1px solid; */
        box-sizing: border-box;
        padding: 11px 19px;
        box-shadow: -100px 0 1000px rgba(0, 0, 0, 0.7);
    }

    .menu {
        display: block;
        width: 100%;
    }

    .menu__item:first-child {
        margin-top: 12px;
    }

    .menu__link {
    height: 47px;
    line-height: 47px;
    letter-spacing: 0.8px;
    border-bottom: #CED6E0 1px solid;
    box-sizing: border-box;
    }

    .menu__item:first-child .menu__link {
        border-top: #CED6E0 1px solid;
    }

    .header__contact {
        display: none;
    }

    .logo__title {
        padding: 0;
        margin: 0;
    }

    .logo__img {
        display: none;
    }

    .logo__heading {
        display: flex;
        justify-content: space-between;
        line-height: 54px;
    }

    .small-logo__img {
        display: block;
        height: 100%;
    }

    .logo__subheading {
        display: none;
    }

    .header__menu .layout .header__small-logo {
        display: block;
    }

    .container__navigation {
        display: none;
    }

    .container__location {
        display: none;
    }

    .header__search {
        display: block;
        margin: 0 35px 0 0;
        position: absolute;
        right: 42px;
    }

    .search-link {
        display: block;
        height: 48px;
    }

    .search-link__img {
        margin: 16px 0;
    }

    .header__menu-icon {
        display: block;
        margin: 17px 0;
    }

    .header__close {
        display: block;
    }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 540px) {}

@media screen and (max-width: 320px) {
    .hiding-menu {
    width: 300px;
}
}

/*.....................Search Form....................................*/

/*container__search-block*/
/*search-block*/
/*search-block__heading*/

/*.................Email Not Found.....................*/

.container__email-not-found {
    position: sticky;
    top: 0;
}

.email-not-found {
    background: #F2DEDE;
    height: 45px;
    display: none;
}

.email-not-found__message {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    color: #5F5F5F;
    line-height: 45px;
    padding-left: 4px;
    letter-spacing: 0.5px;
}



/*.................New Password Sended.....................*/

.container__new-password-sended {
    position: sticky;
    top: 0;
}

.new-password-sended {
    background: #DFF0D8;
    height: 45px;
    display: none;
}

.new-password-sended__message {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    color: #5F5F5F;
    line-height: 45px;
    letter-spacing: 0.5px;
}

    /*...............Location.................*/

.container__location {
    margin-top: 24px;
}

.location {
    font-size: 14px;
    letter-spacing: 1px;
}

.location__main {
     font-family: "PF Din Text Comp Pro Regular", sans-serif;
}

.location__slash {}

.location__sub {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    color: #5F5F5F;
}


/*......................Authorization......................*/

.container__authorization {height: 500px;}

.container__wrap {
    position: absolute;
    left: 38.4%;
    top: 331px;
}

.authorization  {
    width: 335px;
    height: 260px;
}

.authorization_phone {
    display: none;
}

.authorization_phone-password {
    display: none;
}

.authorization_forgot-password {
    display: none;
}

.authorization__header {
    text-align: center;
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.authorization__number {margin-top: 26px;}

.number {}

.number__title {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 16px;
    color: #5F5F5F;
    letter-spacing: 0.5px;
    margin-bottom: 7px;
}

.number__title::after {
    content: "*";
    display: inline-block;
    color: #F81242;
}

.number__input {}

.field {
    width: 335px;
    height: 44px;
    box-sizing: border-box;
    border: #A4B0BE 1px solid;
    border-radius: 9px;
    padding: 9px 13px;
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 20px;
}

.authorization__sms-button {
    margin: 41px 0;
}

.button {
    width: 335px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 22px;
    background: #DFE4EA;
    border: none;
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 16px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    line-height: 48px;
}

.authorization__footer {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    color: #5F5F5F;
    letter-spacing: 0.5px;
}

.authorization__password {
}

.password {
}

.password__title {
    margin-top: 20px;
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    color: #5F5F5F;
    letter-spacing: 0.5px;
}

.password__input {
    margin: 9px 0;
}

.password__forgot {
    display: block;
    margin-top: 11px;
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    color: #F81242;
    letter-spacing: 0.5px;
}

.authorization__enter-button {
    margin-top: 39px;
}

.authorization__text {
    margin: 21px 0 28px;
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    color: #5F5F5F;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.authorization__email {}

.email {}

.email__title {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    color: #5F5F5F;
    letter-spacing: 0.5px;
}

.email__input {
    margin: 7px 0;
}

.authorization__continue-button {
    margin-top: 32px;
}

/*..................................Footer..................................................*/

.container__footer {
     display: none;
}

.footer {
    background: #1D1D1D;
    height: 218px;
    padding: 41px 0;
}

.footer__main {}

.main {
}

.main__item {
    display: inline-block;
    width: 265px;
    margin-left: 62px;
    vertical-align: top;
}

.main__item_first {
    margin-left: 0;
}

.main__logo {
    margin: 34px 0 0;
}

.logo_footer {}

.logo__heading_footer {
    color: #fff;
    font-size: 26px;
    font-family: "Opne Sans", sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
}

.logo__title_footer {
    margin-left: 29px;
    padding: 11px 0 0;
}

.logo__subheading_footer {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    font-style: italic;
}

.item-section {
}

.item-section__heading {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.item-section__link-list {
    margin: 23px 0 0;
}

.link-list {}

.link-list__item {
    line-height: 30px;
}

.link-list__link {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #fff;
}

.footer__sprite {
    margin: 24px 0;
}

.sprite {}

.sprite__item {
    margin-left: 15px;
}

.sprite__item:first-child {
    margin-left: 0;
}

.sprite__link {
    display: block;
    width: 26px;
    height: 26px;
}

.sprite__link_vk {
    background: url(../img/footer/vk.svg) no-repeat center;
}

.sprite__link_fb {
    background: url(../img/footer/fb.svg) no-repeat center;
}

.sprite__link_od {
    background: url(../img/footer/od.svg) no-repeat center;
}

.sprite__link_inst {
    background: url(../img/footer/inst.svg) no-repeat center;
}

.footer__download {
    margin-right: 84px;
}

.download {}

.download__title {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 27px;
}

.download__app-store {
    margin-left: 30px;
}

.download__play-market {
    margin-left: 16px;
}



