.container__main-page {
}

.main-page {
}

.main-page__slider {
    margin-top: 70px;
}

.slider {
    min-height: 509px;
    padding: 0.01%;
    position: relative;
}

.slick-list {
    outline: none;
}

.slider__slide {
    display: none;
}

.current {
    display: flex;
}

.slide {
    padding: 0 10px 0 0;
    flex-wrap: wrap;
    display: flex;
}

.slide__description {
}

.description {
}

.description__heading {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 48px;
    margin-top: 43px;
    max-width: 323px;
}

.description__text {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 20px;
    letter-spacing: 0.6px;
    max-width: 526px;
    margin-top: 22px;
}

.description__button {
    margin-top: 45px;
}

.button_slider {
    width: 190px;
    position: absolute;
    z-index: 10;
}

.slide__img {
    max-height: 367px;
}

.slider__controls {
    margin-top: 82px;
}

.controls {
    width: 84px;
}

.controls__circle {
}

.slider .slick-dots {
    display: flex;
    width: 84px;
    justify-content: space-between;
    margin: 79px 0 0;
}

.slider .slick-dots button {
    width: 12px;
    height: 12px;
    background: #DCDEDF;
    border-radius: 6px;
    padding: 0;
    color: transparent;
    border: none;
    cursor: pointer;
}

.slider li.slick-active button {
    background: #F81242;
    width: 24px;
}

/*.circle {*/
/*    width: 12px;*/
/*    height: 12px;*/
/*    background: #DCDEDF;*/
/*    border-radius: 50%;*/
/*}*/

/*.circle_active {*/
/*    background: #F81242;*/
/*    width: 24px;*/
/*    border-radius: 6px;*/
/*}*/

/*.slider__prev {*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 367px;*/
/*    width: 300px;*/
/*}*/

/*.slider__prev:hover::after {*/
/*    content: url("../img/main-page/arrow.png");*/
/*    display: block;*/
/*    position: absolute;*/
/*    left: 100px;*/
/*    top: 200px;*/
/*    transform: rotate(180deg);*/
/*}*/

/*.slider__next {*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    height: 367px;*/
/*    width: 300px;*/
/*}*/

/*.slider__next:hover::after {*/
/*    content: url("../img/main-page/arrow.png");*/
/*    display: block;*/
/*    position: absolute;*/
/*    right: 100px;*/
/*    top: 200px;*/
/*}*/

.slider .slick-prev {
    position: absolute;
    top: 190px;
    left: -65px;
    background: url(../img/main-page/l-arrow.svg) no-repeat center;
    height: 50px;
    width: 50px;
    background-size: 50px;
    border-radius: 50%;
    border: none;
    color: transparent;
    cursor: pointer;
}

.slider .slick-next {
    position: absolute;
    top: 190px;
    right: -65px;
    background: url(../img/main-page/r-arrow.svg) no-repeat center;
    height: 50px;
    width: 50px;
    background-size: 50px;
    border-radius: 50%;
    border: none;
    color: transparent;
    cursor: pointer;
}

.main-page__info-list {
}

.info-list {
    min-height: 170px;
    background: #F3F4F6;
    padding: 48px 0 0 0;
    box-sizing: border-box;
}

.info-list__item {
    margin: 0 6px 0 16px;
}

.info-list__img {
}

.info-list__info {
    margin: 0 0 0 47px;
}

.info {
    width: 300px;
}

.info__heading {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.info__text {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #707070;
    max-width: 290px;
    margin: 5px 0 0 0;
}

.main-page__pizza-slider {
}

.pizza-slider {
    min-height: 1320px;
    padding: 73px 0;
    box-sizing: border-box;
}

.pizza-slider__branches { /* margin-top: 41px; */
}

.branches {
    width: 400px;
    height: 28px;
}

.branches__item {
    font-family: "PF Din Text Comp Pro Bold", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    height: 16px;
    position: relative;
}


.branches__link {
    font-family: "PF Din Text Comp Pro Bold", sans-serif;
    transition: all 300ms ease;
}

.branches__link:hover {
    cursor: pointer;
    color: #7f7f7f;
    transition: all 300ms ease;
}

.branches__item_active::after {
    content: "";
    display: block;
    height: 3px;
    width: 70px;
    background: #F81242;
    margin-top: 7px;
    position: absolute;
}

.branches__item_active .branches__link:hover {
    color: #000;
}

.pizza-slider__pizza-slides {
    margin: 31px 0 0 0;
    display: none;
}

.pizza-slides {
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* align-content: space-between; */
}

.active-tab {
    display: flex;
}

.pizza-slides__item {
    display: inline-block;
    margin: 0;
}


.main-page__reviews {
}

.reviews {
    min-height: 550px;
    padding: 46px 0;
    background: #F3F4F6;
    box-sizing: border-box;
    position: relative;
}

.reviews__heading {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 24px;
}

.reviews__review-slider {
    margin: 49px 0 0;
}

.review-slider {
}

.review-slider__slide {
    width: 410px;
}

.default-slide {
    display: none;
    width: 100%;
    justify-content: space-between;
}

.active-slide {
    display: flex;
}

.review-slider__name {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 20px;
}

.review-slider__text {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 18px;
    letter-spacing: 0.6px;
    color: #707070;
    width: 100%;
    margin: 4px 0 0 0;
}

.review-slider__mark {
    width: 88px;
    margin: 23px 0 0 0;
}

.mark__star {
}

.review-slider .slick-prev {
    position: absolute;
    top: 54px;
    left: -65px;
    background: url(../img/main-page/l-arrow.svg) no-repeat center;
    height: 50px;
    width: 50px;
    background-size: 50px;
    border-radius: 50%;
    border: none;
    color: transparent;
    cursor: pointer;
}

.review-slider .slick-next {
    position: absolute;
    top: 54px;
    right: -65px;
    background: url(../img/main-page/r-arrow.svg) no-repeat center;
    height: 50px;
    width: 50px;
    background-size: 50px;
    border-radius: 50%;
    border: none;
    color: transparent;
    cursor: pointer;
}

.review-slider .slick-dots {
    margin: 70px auto 0;
    width: 79px;
    display: flex;
    justify-content: space-between;
}

.review-slider .slick-dots li button {
    width: 12px;
    height: 12px;
    border: 3px solid #A8ADAF;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0;
    color: transparent;
    cursor: pointer;
    background: none;
}

.review-slider .slick-dots li.slick-active button {
    border: 3px solid #F81242;

}

.reviews__button {
    float: right;
    margin: 40px 0 0;
}

.button_review {
    width: 190px;
}

.main-page__rant {
    padding: 97px 0;
    box-sizing: border-box;
}

.rant {
    min-height: 488px;
    background: url(../img/main-page/vegetables-bg.svg) no-repeat top center;
}

.rant__slogan {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 30px;
    margin: 59px 0 0;
}

.rant__mini-slogans {
}

.mini-slogans {
    max-width: 633px;
}

.mini-slogans__slogan {
    margin-bottom: 25px;
}

.mini-slogans__title {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.mini-slogans__text {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: #707070;
}

@media screen and (max-width: 1440px) {
    .slider .slick-next {
        top: 300px;
        right: 14px;
    }

    .slider .slick-prev {
        left: 0;
        top: 300px;
        z-index: 10;
    }

    .review-slider .slick-next {
        right: 0;
        top: 200px;
    }

    .review-slider .slick-prev {
        left: 0;
        top: 200px;
    }
}

@media screen and (max-width: 1280px) {
    .description__text {
        max-width: 423px;
    }

    .slide__img {
        width: 520px;
    }

    .info-list__info {
        margin: 0 0 0 25px;
    }

    .info {
        width: 190px;
    }

    .review-slider__slide {
        max-width: 350px;
        padding: 0 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1023px) {
    .slide {
        min-height: 350px;
    }

    .description__text {
        max-width: 394px;
    }

    .slide__img {
        width: 500px;
    }
}

@media screen and (max-width: 959px) {
    .description__heading {
        font-size: 28px;
    }

    .description__text {
        max-width: 350px;
    }

    .slide__img {
        width: 336px;
    }

    .info-list__item {
        margin: 0 0 0 0;
    }

    .info {
        width: 160px;
    }

    .reviews__button {
        margin: 0;
    }
}

@media screen and (max-width: 799px) {
    .slider {
        position: relative;
        min-height: 515px;
    }

    .slide {
        display: flex;
        padding: 0;
        margin: 30px 0 0;
        min-height: 422px;
        position: relative;
    }

    .slide__img {
        margin: 0 auto;
        height: 178px;
        vertical-align: top;
    }

    .slider__next:hover::after {
        content: "";
    }

    .slider__prev:hover::after {
        content: "";
    }

    .description {
        width: 100%;
    }

    .description__heading {
        max-width: 373px;
        margin: 0 0;
    }

    .description__text {
        max-width: 530px;
        margin: 13px 0;
    }

    .description__button {
        position: absolute;
        top: 321px;
        left: 35%;
    }

    .slider .slick-dots {
        margin: 116px auto 0;
    }

    .main-page__info-list {
        display: none;
    }

    .pizza-slider {
        padding: 20px 0;
        min-height: 711px;
    }

    .pizza-slides {
        flex-wrap: nowrap;
        overflow: scroll;
        min-height: 400px;
    }

    .reviews {
        min-height: 480px;
    }

    .hide-info-slide {
        display: none;
    }

    .reviews__review-slider {
        margin: 45px 0 0;
    }

    .review-slider__slide {
        max-width: 100%;
        width: 100%;
    }

    .review-slider__text {
        width: 100%;
    }

    .reviews__button {
        float: none;
        margin: 51px auto 0;
    }

    .rant {
        padding: 40px 0;
        min-height: 400px;
    }

    .rant__slogan {
        margin: 0;
    }

    .rant__mini-slogans {
        margin: 27px 0;
    }

    .mini-slogans {
        width: 600px;
    }

    .adaptive-no-layout {
        display: block;
    }
}

@media screen and (max-width: 639px) {
    .description__button {
        top: 311px;
        left: 34%;
    }

    .main-page__pizza-slider {
        margin: 35px 0;
    }

    .branches {
        width: 334px;
    }

    .mini-slogans {
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    .slider {
        min-height: 430px;
    }

    .slide {
        margin: 18px 0;
        position: relative;
        min-height: 350px;
    }

    .description__heading {
        font-size: 24px;
    }

    .description__text {
        font-size: 16px;
        margin: 9px 0 0;
        line-height: 21px;
    }

    .slide__img {
        width: 287px;
        margin: 15px auto;
    }

    .description__button {
        top: 274px;
        left: 21.5%;
    }

    .slider .slick-dots {
        margin: 75px auto 0;
    }

    .main-page__pizza-slider {
        margin: 16px 0 0;
        min-height: 505px;
    }

    .pizza-slider__pizza-slides {
        margin: 21px 0;
    }

    .reviews {
        padding: 28px 0;
        min-height: 441px;
    }

    .reviews__review-slider {
        margin: 29px 0;
    }

    .review-slider__slide {
        padding: 0;
    }

    .review-slider__text {
        line-height: 24px;
    }

    .reviews__review-controls {
        margin: 48px auto 0;
    }

    .reviews__button {
        margin: 40px auto 0;
    }

    .rant {
        padding: 29px 0;
        min-height: 593px;
    }

    .mini-slogans__text {
        line-height: 24px;
    }

}

@media screen and (max-width: 320px) {
}