.container__pizza-department {
}

.pizza-department {
}

.container__fixed {
}

.container__fixed_adaptive {
}

.pizza-department__heading {
    font-family: "PF Din Text Comp Pro Medium", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 68px 0 0;
}

.pizza-department__sort-pizza {
    margin: 27px 0 0;
}

.sort-pizza {display: flex;flex-wrap: wrap;}

.sort-pizza__item {
    font-family: "PF Din Text Comp Pro Regular", sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
}

.sort-pizza__link:hover {
    color: #7f7f7f;
}

.sort-pizza__item_active .sort-pizza__link {
    color: #F81242;
    border-bottom: 2px dotted #F81242;
}

.sort-pizza__item_active:hover {
    color: #F81242;
}

.sort-pizza__item_no-hover:hover {
    color: #000;
    cursor: default;
}

.pizza-department__pizzas {
    margin: 33px 0;
    display: none;
}

.pizzas {
    /* display: flex; */
    flex-wrap: wrap;
}

.pizzas_novelty {
}

.pizzas__item {
}

.pizza-department__pagination {
    margin: 63px 0 200px;
}

.pagination {
    width: 170px;
}

.pagination__item {
}

.pagination__link {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.pagination__link:hover {
    background: #DFE4EA;
    border: 1px solid #DFE4EA;
}

.pagination__link_active {
    background: #F81242;
    color: #fff;
    border: 1px solid #F81242;
}

.pagination__link_active:hover {
    background: #F81242;
    border: 1px solid #F81242;
}

.active-tab {
    display: flex;
}

@media screen and (max-width: 480px) {

}
